{%extends"base.html"%}

{% block js %}
{% endblock %}

{%block main%}

    <div class="well">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form action="{{url_for('.displayEmails', name=name)}}" method="get">
                        <!--<div class="lbl">Name:</div> -->
                        <input class="field" type="text" name = "personName" size="60" autofocus placeholder="enter name"><br /><br />
                        <button type="submit" class="btn btn-primary">SEARCH</button> <!-- <input class="btn-primary" type="submit"/> -->
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
    
    <div class="container results" id="resultsDIV">
        <div id="email_address"></div>
        <div id="person_name"></div>
    </div>

{%endblock%}


<!-- <form action="{{url_for('displayEmails/<name>')}}" method="post">