/*.lbl{*/
    
/*    font-family: "Century Gothic";*/
/*    font-size: 20px;*/
/*    color: #32CD32;*/
/*}*/

.field{
    border-radius: 5px;
    border: 1px solid #1E90FF;
    font-family: "Century Gothic";
    font-size: 16px;
    height: 38px;
    color: grey;
    padding: 0px 10px 0px 10px;
    margin: auto;
}


.footer{
    
    margin-top: 50px;
    height: 100px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 12px;
    background-color: #32CD32;
    font-family: "Century Gothic";
}

.header{
    
    width: 100%;
    height: 300px;
    color: white;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;
    background-color: #1E90FF; /*#008080; #32CD32;*/
    font-family: "Century Gothic";
}


.results{
    
    height: 200px;
    width: 100%;
    background-color: #1E90FF;
    opacity: 0.3;
}

.btn{
    
    width: 200px;
    margin: 0px 150px 0px 150px;
    /*background: #1E90FF;*/
    /*border-radius: 0px;*/
    /*border: none;*/
}

.word1{
    
    font-family:FORTE;
    font-size: 80px;
}

.well {
   background: white;
   border: none;
}

#email_address{
    font-family: "Century Gothic";
    font-size: 68px;
    line-height: 110px;
    text-align: right;
    color: black;
}

#person_name{
    font-family: "Century Gothic";
    font-size: 40px;
    text-align: right;
    color: white;
}

/*#error{*/
/*    font-family: "Century Gothic";*/
/*    font-size: 68px;*/
/*    line-height: 110px;*/
/*    text-align: right;*/
/*    color: red;*/
/*}*/



/*.startBtn{*/
/*    background-image: url("static/img/start.png");*/
/*    background-repeat: no-repeat;*/
/*}*/


@font-face {
    font-family: 'FORTE';
    src: url('../fonts/FORTE.ttf'); 
    src: url('../fonts/FORTE.svg');
    src: url('../fonts/FORTE.woff');
    src: url('../fonts/FORTE.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic.ttf'); 
    src: url('../fonts/CenturyGothic.svg');
    src: url('../fonts/CenturyGothic.woff');
    src: url('../fonts/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic.otf');
    font-weight: normal;
    font-style: normal;

}